/*For the header*/

header {
    background-color: #002654;
    width: 100%;
    margin: 0%;
}


h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 87px;
    color: white;
    display: block;
    margin-inline-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#undertext {
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*For the header*/

/*For the navbar*/
.nav {
    text-align: center;
    color: white;
}

nav a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding: 50px;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    color: red;
}

#timeline {
    padding-right: 9em;

}

#resources {
    padding-right: 9em;

}

#home {
    padding-right: 4, 2em;

}



/*For the navbar*/

/*For the home-mainpage*/

#welcome {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-top: 40px;
}

#introtext {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-bottom: 40px;

}

#textlink {
    text-decoration: none;

    a:hover {
        color: red;
    }
}

#napoleonhome {
    width: 50%;
    height: 50%;
    align-content: center;
}

/*For the home-mainpage*/

/* For the timeline */

#sign-event {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
    padding-top: 5%;
}

#text {
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
    margin-top: 10%;
}

/* For the timeline */

/*CSS for the Resources and Contact page*/

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
    padding-top: 10%;
}


#form {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    margin: 10%;
}

.media {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 15%;
    margin-right: 4%;
}

.media-last {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 15%;
    margin-right: 4%;
    margin-bottom: 15%;
}




/* Part of the codestructure is inserted from W3 schools website, 
the link: https://www.w3schools.com/howto/howto_css_contact_form.asp. The code was used in order 
to create a more styled form as I did not figured it out how to do it alone */

input[type=email],
input[type=text],
textarea {
    width: 100%;
    font-family: 'Libre Baskerville', serif;
    color: black;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

/* Same goes for this code-snippet*/

input[type=submit] {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #002654;
    color: white;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

footer {
    background-color: #002654;
    width: 100%;
    height: 60px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#footer-text {
    text-align: center;
    padding-top: 20px;
}

/* Media queries */




@media screen and (max-width: 600px) {
    h1 {
        font-size: 28px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        padding-top: 87px;
        color: white;
        display: block;
        margin-inline-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    #undertext {
        font-family: 'Libre Baskerville', serif;
        color: white;
        text-align: center;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    h3 {
        padding-top: 0, 1em;
        margin: 0 auto;
    }

    #text {
        margin: 0 auto;
        width: 100%;
    }

    #header {
        width: 100%;
        margin: 0 auto;

    }

    #timeline {
        padding-right: 2em;

    }

    #resources {
        padding-right: 2em;

    }

    #home {
        padding-right: 1, 2em;


    }
}

@media screen and (min-width: 601px) {
    h3 {
        padding-top: 0, 1em;
        margin: 0 auto;
    }

    #text {
        margin: 0 auto;
        width: 100%;
    }

    #header {
        width: 100%;
        margin: 0 auto;

    }

    #timeline {
        padding-right: 2em;

    }

    #resources {
        padding-right: 2em;

    }

    #home {
        padding-right: 1, 2em;

    }
}

@media screen and (min-width: 768px) {


    h3 {
        padding-top: 0, 1em;
        margin: 0 auto;
    }

    #text {
        margin: 0 auto;
        width: 100%;
    }

    #header {
        width: 100%;
        margin: 0 auto;

    }

    #timeline {
        padding-right: 3em;

    }

    #resources {
        padding-right: 3em;

    }

    #home {
        padding-right: 2, 2em;

    }
}

@media screen and (min-width: 992x) {
    h3 {
        padding-top: 0, 1em;
        margin: 0 auto;
    }

    #text {
        margin: 0 auto;
        width: 100%;
    }

    #header {
        width: 100%;
        margin: 0 auto;

    }

    #timeline {
        padding-right: 5em;

    }

    #resources {
        padding-right: 5em;

    }

    #home {
        padding-right: 3, 2em;

    }
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    h3 {
        padding-top: 0, 1em;
        margin: 0 auto;
    }

    #text {
        margin: 0 auto;
        width: 100%;
    }

    #header {
        width: 100%;
        margin: 0 auto;

    }

    #timeline {
        padding-right: 9em;

    }

    #resources {
        padding-right: 9em;

    }

    #home {
        padding-right: 4, 2em;

    }
}