body {
    margin: auto;
    background-color: white;
}

/*For the header*/

header {
    background-color: #002654;
    width: 100%;
}


h1 {
    font-size: 48px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 87px;
    color: white;
    display: block;
    margin-inline-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#undertext {
    font-size: 48;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*For the header*/

/*For the navbar*/
.nav {
    text-align: center;
    color: white;
}

nav a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding: 50px;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    color: red;
}

#timeline {
    padding-right: 4cm;

}

#resources {
    padding-right: 4cm;

}

#home {
    padding-right: 2cm;

}



/*For the navbar*/

/*For the home-mainpage*/

#welcome {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin-top: 40px;
}

#introtext {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: large;
    margin-bottom: 40px;

}

#textlink {
    text-decoration: none;

    a:hover {
        color: red;
    }
}



#napoleonhome {
    width: 50%;
    height: 50%;
    align-content: center;
}

/*For the home-mainpage*/

/* For the timeline */
#sign-event {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
}

#text {
    font-family: 'Libre Baskerville', serif;
}

.red-box-left {
    margin-right: 50%;
    padding-top: 10%;
}

.red-box-right {
    margin-left: 50%;
    padding-top: 10%;
}

#townsquare {
    width: 50%;

}

/* For the timeline */

/*CSS for the contact page*/

h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    text-align: center;
    margin-top: 10%;

}


#form {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    margin: 10%;
}

#name #email {
    font-family: 'Libre Baskerville', serif;
    color: black;
    text-align: center;
}

#textform {
    font-family: 'Libre Baskerville', serif;
    color: black;
    width: 70%;

}

footer {
    background-color: #002654;
    width: 100%;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}